---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



/* local customizations */

#contents {
    position: relative;
}

#contents img {
    width: 100%;
    min-height: 250px;
    background: #efefef;
}
output {
    margin-left: 20px;
}
#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    margin: 5px 15px;
}

#drop_zone.active {
    background: #efefef;
}

#file-list {
    margin: 0 20px;
}
.block {
    position: absolute;
    display: block;
    border: 1px solid gray;
}

.text-content{
    white-space: nowrap;
    line-height: 100%;
    opacity: 0.5;
}
.selected {
     opacity: 1;
     background: rgba(255,255,255,0.5);
}

